# GH actions.
name: Build Docker Images


on:
  workflow_dispatch:

jobs:
  Build:
    strategy:
      matrix:
        platform:
          - cpu
          - cu116
          - cu117
          - cu118
          - cu121

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.MLCAI_DOCKERHUB_USERNAME }}
        password: ${{ secrets.MLCAI_DOCKERHUB_TOKEN }}
    - name: Build Docker image
      run: |
        set -eux
        cd docker
        docker build -t package-${{ matrix.platform }} -f Dockerfile.package-${{ matrix.platform }} .
    - name: Upload to Docker Hub
      run: |
        set -eux
        NEW_TAG=$(git log -1 --format='%h')
        docker tag package-${{ matrix.platform }} mlcaidev/package-${{ matrix.platform }}:$NEW_TAG
        docker push mlcaidev/package-${{ matrix.platform }}:$NEW_TAG

