# GH actions.
name: Wheel-Manylinux-Nightly


on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 6 * * *' # 6 AM UTC

jobs:
  Build:
    strategy:
      matrix:
        pkg: ['mlc-ai-nightly']
        # matrix of build configs
        config:
          - cuda: 'none'
            image: 'tlcpack/package-cpu:2fddbe0'
          - cuda: '11.6'
            image: 'tlcpack/package-cu116:2fddbe0'
          - cuda: '11.7'
            image: 'tlcpack/package-cu117:cce8456'
          - cuda: '11.8'
            image: 'tlcpack/package-cu118:cce8456'
          - cuda: '12.1'
            image: 'tlcpack/package-cu121:cce8456'

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'recursive'
    - name: Setup script env
      run: |
        mv conda/tvm-unity/build-environment.yaml 3rdparty/tlcpack/conda/build-environment.yaml
        ln -s 3rdparty/tlcpack/docker docker
        rm -rf conda
        ln -s 3rdparty/tlcpack/conda conda
        ln -s 3rdparty/tlcpack/common common
    - name: Checkout source
      run: |
        git clone https://github.com/mlc-ai/relax tvm --recursive
    - name: Sync Package
      run: python common/sync_package.py --cuda ${{ matrix.config.cuda }} ${{ matrix.pkg }} --revision origin/mlc
    - name: Setup Conda Environment
      run: |
        conda env create -f 3rdparty/tlcpack/conda/build-environment.yml
    - name: Build
      env:
        IMAGE: ${{ matrix.config.image }}
        CUDA: ${{ matrix.config.cuda }}
      run: |
        docker/bash.sh --no-gpu $IMAGE ./wheel/build_wheel_manylinux.sh --cuda $CUDA
    - name: Wheel-Deploy
      if: github.ref == 'refs/heads/main'
      uses: softprops/action-gh-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.MLC_GITHUB_TOKEN }}
      with:
        files: tvm/python/repaired_wheels/*.whl
        tag_name: v0.9.dev0
        prerelease: true
