# GH actions.
name: Wheel-Manylinux-Nightly


on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 6 * * *' # 6 AM UTC

jobs:
  Build:
    strategy:
      matrix:
        pkg_kind: ['nightly']
        # matrix of build configs
        config:
          - gpu: 'none'
            image: 'mlcaidev/package-cpu:7a83f97'
          - gpu: 'cuda-12.1'
            image: 'mlcaidev/package-cu121:7a83f97'
          - gpu: 'cuda-12.2'
            image: 'mlcaidev/package-cu122:7a83f97'
          - gpu: 'rocm-5.6'
            image: 'mlcaidev/package-rocm56:7a83f97'
          - gpu: 'rocm-5.7'
            image: 'mlcaidev/package-rocm57:7a83f97'
        exclude:
          - pkg_kind: ${{ github.event_name == 'schedule' && 'stable' || '' }}

    runs-on: ubuntu-latest

    steps:
    - name: Reclaim disk space
      run: |
        df -h
        sudo rm -rf /usr/local/lib/android
        sudo rm -rf /opt/hostedtoolcache/CodeQL
        sudo rm -rf /usr/local/.ghcup
        df -h

    - uses: actions/checkout@v3
      with:
        submodules: 'recursive'
    - name: Setup script env
      run: |
        rm -rf conda
        ln -s 3rdparty/tlcpack/conda conda
    - name: Checkout source
      run: |
        git clone https://github.com/mlc-ai/relax tvm --recursive
        git clone https://github.com/mlc-ai/mlc-llm mlc-llm --recursive
    - name: Sync MLC AI Package
      run: |
        python scripts/sync_package.py --gpu ${{ matrix.config.gpu }} --package tvm --package-name ${{ matrix.pkg_kind == 'nightly' && 'mlc-ai-nightly' || 'mlc-ai' }} --revision origin/mlc ${{ matrix.pkg_kind == 'nightly' && '--skip-checkout' || '' }} --skip-conda
    - name: Sync MLC LLM Package
      if: matrix.pkg_kind == 'nightly'
      run: |
        python scripts/sync_package.py --gpu ${{ matrix.config.gpu }} --package mlc-llm --package-name ${{ matrix.pkg_kind == 'nightly' && 'mlc-llm-nightly' || 'mlc-llm' }} --revision origin/main ${{ matrix.pkg_kind == 'nightly' && '--skip-checkout' || '' }} --skip-conda
    - name: Build TVM Unity
      env:
        IMAGE: ${{ matrix.config.image }}
        GPU: ${{ matrix.config.gpu }}
      run: |
        docker/bash.sh --no-gpu $IMAGE ./scripts/build_mlc_ai_wheel_manylinux.sh --gpu $GPU
    - name: Build MLC-LLM
      if: matrix.pkg_kind == 'nightly'
      env:
        IMAGE: ${{ matrix.config.image }}
        GPU: ${{ matrix.config.gpu }}
      run: |
        docker/bash.sh --no-gpu $IMAGE ./scripts/build_mlc_llm_wheel_manylinux.sh --gpu $GPU
    - name: Wheel-Deploy
      if: github.ref == 'refs/heads/main'
      uses: softprops/action-gh-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.MLC_GITHUB_TOKEN }}
      with:
        files: |
          tvm/python/repaired_wheels/*.whl
          ${{ matrix.pkg_kind == 'nightly' && 'mlc-llm/python/repaired_wheels/*.whl' || '' }}
        tag_name: v0.9.dev0
        prerelease: true
