# GH actions.
name: Wheel-Manylinux-Nightly


on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 6 * * *' # 6 AM UTC

jobs:
  Build:
    strategy:
      matrix:
        pkg: ['mlc-ai-nightly']
        # matrix of build configs
        config:
          - cuda: 'none'
            image: 'tlcpack/package-cpu:7bfdf7e'
          - cuda: '10.2'
            image: 'tlcpack/package-cu102:7bfdf7e'
          - cuda: '11.1'
            image: 'tlcpack/package-cu111:7bfdf7e'
          - cuda: '11.3'
            image: 'tlcpack/package-cu113:7bfdf7e'
          - cuda: '11.6'
            image: 'tlcpack/package-cu116:7bfdf7e'


    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'
    - name: Setup script env
      run: |
        ln -s 3rdparty/tlcpack/wheel wheel
        ln -s 3rdparty/tlcpack/conda conda
        ln -s 3rdparty/tlcpack/docker docker
        ln -s 3rdparty/tlcpack/common common
    - name: Checkout source
      run: |
        git clone https://github.com/mlc-ai/relax tvm --recursive
    - name: Sync Package
      run: python common/sync_package.py --cuda ${{ matrix.config.cuda }} ${{ matrix.pkg }} --revision origin/relax
    - name: Build
      env:
        IMAGE: ${{ matrix.config.image }}
        CUDA: ${{ matrix.config.cuda }}
      run: |
        docker/bash.sh --no-gpu $IMAGE ./wheel/build_wheel_manylinux.sh --cuda $CUDA
    - name: Wheel-Deploy
      if: github.ref == 'refs/heads/main'
      env:
        GITHUB_TOKEN: ${{ secrets.MLC_GITHUB_TOKEN }}
      run: |
        python -m pip install pyOpenSSL --upgrade
        python -m pip install github3.py
        python wheel/wheel_upload.py --repo mlc-ai/utils --tag v0.9.dev0 tvm/python/repaired_wheels
