# GH actions.
name: Wheel-WinMac-Nightly

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 6 * * *' # 6 AM UTC

jobs:
  Build:
    strategy:
      matrix:
        sys:
          - { os: macos-11,  shell: 'bash -l {0}'  }
          - { os: windows-2019,   shell: 'cmd /C call {0}'  }
        pkg: ['mlc-ai-nightly']

    runs-on: ${{ matrix.sys.os }}
    defaults:
      run:
        shell: ${{ matrix.sys.shell }}

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'
    - name: Setup script env
      run: |
        ln -s 3rdparty/tlcpack/wheel wheel
        ln -s 3rdparty/tlcpack/conda conda
        ln -s 3rdparty/tlcpack/docker docker
        ln -s 3rdparty/tlcpack/common common
    - uses: actions/cache@v1
      env:
        CACHE_NUMBER: 0
      with:
        path: ~/conda_pkgs_dir
        key: ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-${{ hashFiles('conda/build-environment.yaml') }}
    # Use conda for LLVM dep
    - uses: conda-incubator/setup-miniconda@v2
      with:
        activate-environment: tlcpack-build
        channel-priority: strict
        environment-file: conda/build-environment.yaml
        auto-activate-base: false
        use-only-tar-bz2: true
    - name: Conda info
      run: |
        conda info
        conda list
        python --version
    - name: TVM checkout
      run: |
        git clone https://github.com/mlc-ai/relax tvm --recursive
    - name: Sync Package
      run: python common/sync_package.py ${{ matrix.pkg }} --revision origin/relax
    - name: Build@MacOS
      if: startsWith(matrix.sys.os, 'macOS')
      env:
        MACOSX_DEPLOYMENT_TARGET: 11.0
      run: >-
        wheel/build_lib_osx.sh
    - name: Build@Win
      if: startsWith(matrix.sys.os, 'windows')
      run: >-
        wheel/build_lib_win.bat
    # Build wheel for three python versions
    - uses: conda-incubator/setup-miniconda@v2
      with:
        activate-environment: build-Py37
        python-version: 3.7
        auto-activate-base: false
    - name: Wheel-Build@Py37
      env:
        MACOSX_DEPLOYMENT_TARGET: 11.0
      run: |
        python --version
        python -m pip install setuptools Cython wheel
        cd tvm/python
        python setup.py bdist_wheel
    - uses: conda-incubator/setup-miniconda@v2
      with:
        activate-environment: build-Py38
        python-version: 3.8
        auto-activate-base: false
    - name: Wheel-Build@Py38
      env:
        MACOSX_DEPLOYMENT_TARGET: 11.0
      run: |
        python --version
        python -m pip install setuptools Cython wheel
        cd tvm/python
        python setup.py bdist_wheel
    # Use system python instead of conda for upload
    - name: Wheel-Deploy
      if: github.ref == 'refs/heads/main'
      env:
        GITHUB_TOKEN: ${{ secrets.MLC_GITHUB_TOKEN }}
      run: |
        python -m pip install pyOpenSSL --upgrade
        python -m pip install github3.py
        python wheel/wheel_upload.py --repo mlc-ai/utils --tag v0.9.dev0 tvm/python/dist
