# GH actions.
name: Wheel-AppleSiliconMac-Nightly

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 8 * * *' # 8 AM UTC -> 4 AM EDT

jobs:
  Build:
    strategy:
      matrix:
        pkg_kind: ['nightly', 'stable']
        exclude:
          - pkg_kind: ${{ github.event_name == 'schedule' && 'stable' || '' }}

    runs-on: [self-hosted, macOS, ARM64]
    defaults:
      run:
        shell: 'bash -l {0}'

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'recursive'
    - name: Setup script env
      run: |
        mv conda/tvm-unity/build-environment.yaml 3rdparty/tlcpack/conda/build-environment.yaml
        rm -rf conda
        ln -s 3rdparty/tlcpack/conda conda
    - name: Checkout source
      run: |
        git clone https://github.com/mlc-ai/relax tvm --recursive --single-branch --branch ${{ matrix.pkg_kind == 'stable' && 'v0.17.2' || 'mlc' }}
        git clone https://github.com/mlc-ai/mlc-llm mlc-llm --recursive --single-branch --branch ${{ matrix.pkg_kind == 'stable' && 'v0.17.2' || 'main' }}
    - name: Build mlc-ai @ 3.8
      env:
        CONDA_HOME: ${{ secrets.M1_MAC_CONDA_HOME }}
        STABLE_BUILD: ${{ matrix.pkg_kind == 'stable' && 1 || 0 }}
      run: |
        scripts/build_mlc_ai_wheel_single_python_apple_silicon.sh wheel-3-8
    - name: Build mlc-ai @ 3.9
      env:
        CONDA_HOME: ${{ secrets.M1_MAC_CONDA_HOME }}
        STABLE_BUILD: ${{ matrix.pkg_kind == 'stable' && 1 || 0 }}
      run: |
        scripts/build_mlc_ai_wheel_single_python_apple_silicon.sh wheel-3-9
    - name: Build mlc-ai @ 3.10
      env:
        CONDA_HOME: ${{ secrets.M1_MAC_CONDA_HOME }}
        STABLE_BUILD: ${{ matrix.pkg_kind == 'stable' && 1 || 0 }}
      run: |
        scripts/build_mlc_ai_wheel_single_python_apple_silicon.sh wheel-3-10
    - name: Build mlc-ai @ 3.11
      env:
        CONDA_HOME: ${{ secrets.M1_MAC_CONDA_HOME }}
        STABLE_BUILD: ${{ matrix.pkg_kind == 'stable' && 1 || 0 }}
      run: |
        scripts/build_mlc_ai_wheel_single_python_apple_silicon.sh wheel-3-11
    - name: Build mlc-ai @ 3.12
      env:
        CONDA_HOME: ${{ secrets.M1_MAC_CONDA_HOME }}
        STABLE_BUILD: ${{ matrix.pkg_kind == 'stable' && 1 || 0 }}
      run: |
        scripts/build_mlc_ai_wheel_single_python_apple_silicon.sh wheel-3-12
    - name: Build mlc-llm @ 3.8
      env:
        CONDA_HOME: ${{ secrets.M1_MAC_CONDA_HOME }}
        STABLE_BUILD: ${{ matrix.pkg_kind == 'stable' && 1 || 0 }}
      run: |
        scripts/build_mlc_llm_wheel_single_python_apple_silicon.sh wheel-3-8
    - name: Build mlc-llm @ 3.9
      env:
        CONDA_HOME: ${{ secrets.M1_MAC_CONDA_HOME }}
        STABLE_BUILD: ${{ matrix.pkg_kind == 'stable' && 1 || 0 }}
      run: |
        scripts/build_mlc_llm_wheel_single_python_apple_silicon.sh wheel-3-9
    - name: Build mlc-llm @ 3.10
      env:
        CONDA_HOME: ${{ secrets.M1_MAC_CONDA_HOME }}
        STABLE_BUILD: ${{ matrix.pkg_kind == 'stable' && 1 || 0 }}
      run: |
        scripts/build_mlc_llm_wheel_single_python_apple_silicon.sh wheel-3-10
    - name: Build mlc-llm @ 3.11
      env:
        CONDA_HOME: ${{ secrets.M1_MAC_CONDA_HOME }}
        STABLE_BUILD: ${{ matrix.pkg_kind == 'stable' && 1 || 0 }}
      run: |
        scripts/build_mlc_llm_wheel_single_python_apple_silicon.sh wheel-3-11
    - name: Build mlc-llm @ 3.12
      env:
        CONDA_HOME: ${{ secrets.M1_MAC_CONDA_HOME }}
        STABLE_BUILD: ${{ matrix.pkg_kind == 'stable' && 1 || 0 }}
      run: |
        scripts/build_mlc_llm_wheel_single_python_apple_silicon.sh wheel-3-12
    # Use system python instead of conda for upload
    - name: Wheel-Deploy
      if: github.ref == 'refs/heads/main'
      uses: softprops/action-gh-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.MLC_GITHUB_TOKEN }}
      with:
        files: |
          tvm/python/dist/*.whl
          mlc-llm/python/dist/*.whl
        tag_name: v0.9.dev0
        prerelease: true
